<h2>Currently Reading</h2>
<div class="bookshelf">
  <div class="shelf">
    {{#each books}}
      <div class="book">
        <div class="book-info">
          {{title}}
          {{author}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
