<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reading Records</title>
    <link rel="stylesheet" href="/css/styles.css">

    {{>headerTemplate}}
</head>
<body>

    {{{body}}}

    <script src="./js/add_userBook.js"></script> 
    <script src="./js/delete_userBook.js"></script>

</body>
</html>