{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<section id="myLibrary">
    <h1>My Library</h1>

    {{>bookshelfTemplate}}

</section>

<section id="search">
    <h1>Find Books</h1>

    {{!-- Search form --}}
    <form id="search-book-html" method='GET' action='/'>
        <input type="text" placeholder="Search for a book..." name="searchInput" id="input-html-search">
        
        <input type="submit">
        <a href='/'><button>Reset</button></a>
    </form>
    
    <div class="search-results-grid">
        {{#each data}}
            {{>searchBookTemplate}}
        {{/each}}
    </div>

</section>



